<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr >
    <tr *ngFor = "let satData of satellites"  class="data-row">
        <td>{{satellites[0]}}</td>
        <td>Positioning</td>
        <td>true</td>
        <td>HIGH</td>
        <td>2001-11-01</td>
        <td>GPS 938</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table
//satellites class header-row & data-row -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type (class header-row & data-row) -->

